@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

:root {
  --boxshadow: 0px 10px 13px -7px #000000, 0px 1px 7px -5px rgba(0, 0, 0, 1);
  --border: 0.01rem solid grey;
  --dark-color: rgb(45, 55, 59);
  --orange-color: #dd9000;
  --fireorange-color: #ca5a0f;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  background: rgb(222, 109, 34);
  background: linear-gradient(
    180deg,
    var(--fireorange-color) 0%,
    rgba(161, 63, 6, 1) 50%,
    var(--orange-color) 100%
  );
  background-attachment: fixed;
  background-position: center;
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
  height: 100vh;
  font-size: 20px;
}
/* Header and Navigation START */
.header {
  height: 80px;
  background-color: var(--dark-color);
  color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: grid;
  grid-template-areas: "logo links";
  grid-template-columns: 300px calc(100% - 300px);
  align-content: center;
  justify-content: space-around;
  box-shadow: 1px 1px 3px rgb(49, 49, 49);
}
.header .header-logo {
  font-size: 30px;
  letter-spacing: 5px;
  width: 100%;
  margin-left: 50px;
  margin-right: auto;
  position: relative;
}
.header-logo-icon-flame {
  position: absolute;
  top: 3px;
  left: 129px;
  font-size: 14px;
  color: var(--fireorange-color);
}

.header-logo-icon-house {
  color: var(--orange-color);
}
.header-mobile-menu {
  font-size: 36px;
  color: var(--orange-color);
  margin-right: 1rem;
  display: none;
  margin-left: auto;
}

.header-nav {
  margin-left: -300px;
  margin-top: 7px;
  display: flex;
  justify-content: center;
}
.header-nav ul {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  list-style: none;
}

.header-nav ul .header-nav-link {
  color: inherit;
  margin: 0 0.5rem;
  padding: 0.1rem 0.2rem 0.4rem;
  text-decoration: none;
  transition: color ease-in 0.1s;
}
.header-nav ul .header-nav-link:hover {
  border-bottom: 0.3rem solid var(--orange-color);
}

.header-nav ul .header-nav-link.active {
  color: var(--orange-color);
  border-bottom: 0.3rem solid var(--orange-color);
}
/* Header and Navigation END 
Main content start
*/

.main-content {
  box-shadow: var(--boxshadow);
  background-color: white;
  margin: 0 auto;
  padding: 0 20px 30px;
  max-width: 1200px;
  min-height: calc(100vh - 80px - 100px);
}

.title {
  color: var(--orange-color);
  letter-spacing: 5px;
  font-size: 36px;
  font-weight: 500;
  padding: 30px 0 10px;
  border-bottom: var(--border);
}

/* Products Page START */
.products-container {
  display: flex;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  gap: 30px;
}

.product-card {
  position: relative;
  display: grid;
  grid-template-areas:
    "img img img"
    "name name rating"
    "description description description";

  grid-template-columns: 8fr 1fr 3fr;

  padding: 10px 10px;
  width: 250px;
  height: 400px;
  border: var(--border);
  border-radius: 7px;
  box-shadow: var(--boxshadow);
  font-size: 18px;
}

.product-card-img {
  grid-area: img;
}
.product-card-name {
  grid-area: name;
  font-size: inherit;
}
.product-card-rating {
  grid-area: rating;
  justify-self: end;
}
.product-card-description {
  grid-area: description;
}
.product-card-price {
  position: absolute;
  top: 49%;
  right: 1rem;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: rgba(151, 151, 151, 0.8);
  align-self: flex-end;
}
/* Products Page END
Privacy Page START */
.privacy-page-container li {
  margin-left: 20px;
}
/* Privacy Page END
 News Card START*/
.news-card {
  max-width: 700px;
  position: relative;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 5px;
  /* box-shadow: var(--boxshadow); */
}

.news-card-header {
  display: grid;
  grid-template-areas: "title date";
  grid-template-columns: 3fr 1fr;
  border-bottom: var(--border);
}

.news-card-title {
  font-size: 24px;
  font-weight: 400;
  grid-area: title;
}
.news-card-date {
  font-size: 16px;
  font-weight: lighter;
  grid-area: date;
  align-self: flex-end;
}
.news-card-spoiler {
  font-size: 15px;
  padding: 15px;
}
.news-card-more {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px 20px;
  border-radius: 8px;
  background-color: var(--orange-color);

  border: none;
}
.news-card-more:hover {
  background-color: var(--fireorange-color);
}

/* 
HOME PAGE SHOW 1 NEWS */
.go-back {
  font-size: 66px;
  color: var(--fireorange-color);
  width: fit-content;
  display: block;
  margin-left: auto;
  transition: all ease 0.3s;
}
.go-back:hover {
  transform: translateX(-10px);
}
.full-news-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: var(--border);
  padding-bottom: 10px;
}
.full-news-title {
  display: inline;
  font-weight: 400;
}

.full-news-date {
  font-size: 16px;
}
.full-news-text {
  padding: 30px 30px 30px 0px;
}
/* Contact Page START */

.contact-form {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;

  display: grid;
  grid-template-areas:
    "name email"
    "errand errand"
    "message message"
    "button button";
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px 20px;
  border-radius: 10px;
  border: var(--border);
}
.contact-form .form-name {
  grid-area: name;
}
.contact-form .form-email {
  grid-area: email;
}
.contact-form .form-errand {
  grid-area: errand;
}
.contact-form .form-message {
  grid-area: message;
  resize: none;
}
.contact-form .form-submit {
  grid-area: button;
  padding: 5px 10px;
  width: 100px;
  margin: 0 20px 0 auto;
}
/* Contact Page END */
/* Footer START */
.footer {
  color: white;
  background-color: var(--dark-color);
  padding: 2rem;
  height: 100px;
}
/* Footer END */

/* Responsive */

@media only screen and (max-width: 1500px) {
  .main-content {
    max-width: 900px;
  }
}

@media only screen and (max-width: 1050px) {
  .header-nav {
    margin-left: -100px;
  }
  .main-content {
    margin: 0 100px;
  }
}

@media only screen and (max-width: 850px) {
  .header-nav {
    margin-left: 0;
  }
  .main-content {
    margin: 0 50px;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    display: flex;
    align-items: center;
    border: none;
  }
  .header-nav {
    width: 100%;
    position: absolute;
    top: 60px;
    background-color: white;
    z-index: 1;
  }
  .header-nav ul {
    display: none;
    width: 100%;
  }
  .header-mobile-menu {
    grid-area: links;
    display: block;
  }

  .contact-form {
    grid-template-areas:
      "name"
      "email"
      "errand"
      "message"
      "button";
  }
  #display-nav {
    background-color: var(--dark-color);
    display: flex;
    z-index: 1;
    flex-direction: column;
    line-height: 70px;
    padding: 30px 50px;
  }
  body {
    background: none;
  }
  .main-content {
    margin: 0;
  }

  .product-card {
    width: 70vw;
    height: fit-content;
  }

  .product-card-img {
    width: 100%;
  }
  .product-card-price {
    top: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .product-card-price {
    top: 60%;
  }
}

@media only screen and (max-width: 400px) {
  .product-card-price {
    top: 50%;
  }
}
